@import "./_variables";
.navbar {
  display: flex;
  &__tab {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: $textGray;
    &:hover {
      background-color: $greenColor;
      color: $textWhite;
    }
  }
  &__active {
    background-color: $navBarTab;
    color: $textWhite;
  }
}
